.point {
	position: absolute;
}
.point > div {
	position: relative;
	width: 10px;
	height: 10px;
	left: -5px;
	top: -5px;
	background-color: black;
	border-radius: 100px;
}
td {
	outline: 1px solid black;
	width: 90px;
	height: 90px;
}
table, tr, td {
	border: 0;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	position: relative;
}
body {
	margin: 0;
}